body
{
    background-color: #EEEEEF;
}
header
{
    display: block;
    z-index: 2;
    height: 104px;
    margin: auto;
    position: sticky;
    top: 0;
    background: linear-gradient( #10BBD5 72px, #FFF 32px);
}
.header_menu
{
    display: flex;
    width: 1296px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header_menu a
{
    text-decoration: none;
}
.header_menu-1
{
    display: block;
}
.header_menu-1 a
{
    display: flex;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
}
.header_menu-2
{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.header_menu-2 p
{
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.header_menu-2 button
{
    background-color:#10BBD5;
    background-image: url("../images/cart_icon.png");
    width: 40px;
    height: 40px;
    border: none;
    color: #0000;
    font-family: "Cabin", sans-serif;
    font-size: 12px;
    line-height: 10px;
    padding-bottom: 8px;
    padding-right: 1px;
}
.header_nav
{
    display: flex;
    width: 1296px;
    height: 32px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.header_nav ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}
.header_nav a
{
    text-decoration: none;
    color: #000;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.header_nav p
{
    color: #000;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
h1
{
    display: block;
    width: 1296px;
    color: #1F1F1F;
    font-family: "Cabin", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 32px auto 23px;
}
.main_wrapper
{
    display: grid;
    width: 1296px;
    height: 1600px;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 512px);
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 32px;
    border-top: solid 1px #A8A8A8;
    padding-top: 24px;
    position: relative;
}
.main_wrapper div
{
    display: block;
    max-width: 306px;
    max-height: 512px;
    background-color: #FFFFFF;
    border: solid #A8A8A8;
}
.main_wrapper_div1
{
    z-index: 1;
}

.main_wrapper div img
{
   padding-top: 32px;
   padding-left: 64px;
}
.main_wrapper div a
{
    text-decoration: none;
}
.main_wrapper div h2
{
    display: block;
    overflow: hidden;
    width: 242px;
    height: 31px;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #1F1F1F;
    margin-left: 32px;
    border-bottom: solid #8E8E8E;
}
.p1
{
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
    padding-left: 32px;
}
.p2
{
    color: #E90000;
    font-family: "Cabin", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-left: 32px;
    padding-top: 8px;
}
.span-price
{
    color: #8E8E8E;
    text-decoration: line-through;
    padding-left: 24px;
}
.span-hit1
{
    display: flex;
    width: 36px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    align-items: center;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: #4200FF;
    top: 3.58%;
    left: 2.5%;
}
.span-hit3
{
    display: flex;
    width: 36px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    align-items: center;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: #4200FF;
    top: 3.58%;
    left: 53.5%;
}
.span-hit5
{
    display: flex;
    width: 36px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    align-items: center;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: #4200FF;
    top: 37.1%;
    left: 2.5%;
}
.span-hit7
{
    display: flex;
    width: 36px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    align-items: center;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: #4200FF;
    top: 37.1%;
    left: 53.5%;
}
.span-new2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #AF39E7;
    border-radius: 4px;
    top: 3.58%;
    left: 28.3%;
}
.span-new6
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #AF39E7;
    border-radius: 4px;
    top: 37.1%;
    left: 28.3%;
}
.span-new11
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #AF39E7;
    border-radius: 4px;
    top: 70.6%;
    left: 53.5%;
}
.span-off3
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    border-radius: 4px;
    left: 56.5%;
    top: 3.58%;
}
.span-off5
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    border-radius: 4px;
    top: 37.1%;
    left: 5.5%;
}
.span-off6
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    border-radius: 4px;
    top: 37.1%;
    left: 32.2%;
}
.span-off7
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    border-radius: 4px;
    top: 37.1%;
    left: 56.6%;
}
.span-off10
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    border-radius: 4px;
    top: 70.6%;
    left: 28.3%;
}
.span-off11
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 32px;
    position: absolute;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    border-radius: 4px;
    top: 70.6%;
    left: 57.4%;
}
.main_wrapper_button1
{
    width: 242px;
    height: 40px;
    margin: 16px 32px 32px;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #F8FDFE;
    background-color: #4C394E;
    border: none;
}
.main_wrapper_button2
{
    width: 242px;
    height: 40px;
    margin: 16px 32px 32px;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #F8FDFE;
    background-color: #4D762D;
    border: none;
}
.main_wrapper_button3
{
    width: 51.2px;
    height:51.2px;
    background-image: url("../images/chat_icon.png");
    background-color: #10BBD5;
    border-radius: 50%;
    background-position: center;
    border: none;
    left: 88.5%;
    top: 90%;
    position: fixed;
}
footer
{
    display: block;
    height: 88px;
    background-color: #4C394E;
    margin-top: 120px;
}

.footer-container
{
    display: flex;
    width: 1296px;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-container p
{
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #F8FDFE;
}